div#about

  :markdown
    **Who made this?**
    
    This was thrown together by [Daniel Treacy](http://www.twitter.com/danieltreacy) on one particularly slow day in the world of financial web applications.
    
    **What's it made in?**
    
    The app is written in [Node.js](http://www.nodejs.org) and [Redis](http://redis.io) for no particular reason other than my curiosity.
    
    It is hosted by the good folks at [Heroku](http://www.heroku.com) because it's free and they're pretty good at minimizing butthurt in application management.
    
    The code is up on [Github](http://github.com/danieltreacy/naurls).  Feel free to fork it.
    
    **What's the plan?**
    
    There's no real plan for any major improvements in the front end. Maybe make it prettier. The only thing on the horizon is to introduce a new backend worker to remove shortened URL's that haven't been accessed in the last 7 days. This is obviously to keep the Redis data store clean and as small as possible. 
    
    Even further on the horizon (you have to squint to see it) is a way for you to view all your shortened URL's. Don't hold your breath.
    
    **Why should I use it?**
    
    I think it's simpler to use than other providers like bit.ly or tinyurl. Less noise. Hopefully you agree.
    
    [Back](/)