span >
input(id='source', type='text', name='u')

div#preloader
  img(src='/images/ajax-loader.gif')

a#short
  span naurls.me/
  span.unique 
  
p.colophon 
  a(href='http://twitter.com/danieltreacy') @danieltreacy
  |  made this while he was bored at work