!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/app.js')
    script(type='text/javascript', src='/javascripts/ga.js')    
    script(type='text/javascript', src="http://use.typekit.com/mjb2cmx.js")
    script(type='text/javascript')
      try{Typekit.load();}catch(e){}
  body
    h1 Not Another URL Shortener
    !=body
    p.colophon 
      a(href='https://chrome.google.com/webstore/detail/oempjfknhodmpclndfmfkdkmoihgfdoe')
        img(src='/images/chrome-badge.png')
      br
      br
      a(href='http://twitter.com/danieltreacy') @danieltreacy
      |  made this while he was bored at work -
      a(href='/about') about
      |  -
      a(href='http://github.com/danieltreacy/naurls') fork on github