body {
  margin: 0 auto;
  width: 900px;
  background-color: #5b5b5b;
  color: #fff;
}
body,
span,
h1,
input,
a {
  font: 69px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  text-transform: lowercase;
  -webkit-font-smoothing: antialiased;
}
h1,
input {
  border: none;
  background-color: #5b5b5b;
  color: #fff;
  outline: none;
}
input:focus {
  outline: none;
}
a {
  color: #00b7ff;
  text-decoration: none;
}
#short {
  width: 900px;
  clear: both;
  margin-top: 40px;
  display: none;
}
#short .unique {
  font-weight: 300;
}
#preloader {
  width: 900px;
  margin-top: 50px;
  text-align: center;
  display: none;
}
p.colophon {
  width: 900px;
  text-align: center;
  margin-top: 150px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}
p.colophon a {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}
